body {
    display: flex;
    flex-direction: column;
    /* Alinea los hijos verticalmente */
    align-items: center;
    /* Centra los hijos horizontalmente */
    justify-content: center;
    /* Centra los hijos verticalmente */
    height: 100vh;
    /* Usa el 100% de la altura de la ventana */
    margin: 0;
    /* Elimina el margen predeterminado */
    background-color: #000;
    /* Color de fondo del cuerpo */
}

header {
    color: #d416be;
    padding: 10px;
    width: 100%;
    /* Asegúrate de que el header ocupe el ancho completo */
    box-sizing: border-box;
    /* Incluye el padding en el cálculo del ancho */
    text-align: center;
}

#calculadora {
    border: 2px solid #000;
    /* Borde negro */
    padding: 20px;
    background-color: #e483d8;
    /* Fondo rosa claro */
    border-radius: 20px;
}

#pantalla {
    width: 100%;
    margin-bottom: 10px;
    background-color: #080606;
    /* Fondo negro */
    color: #d416be;
    /* Texto rosa claro */
    padding: 5px;
    border: none;
    border-radius: 10px;
    height: 40px;
}

#botones button {
    background-color: #000;
    /* Fondo negro */
    color: #ffccf9;
    /* Texto rosa claro */
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

#botones button:hover {
    opacity: 0.8;
}

video {
    border-radius: 300px 300px 300px 300px;
    max-width: 300px;
    margin-top: 20px;
}